body {
    background: red;
}

.top {
    border: 10px solid #000;
    background: blue;
    width: 100px;
    height: 100px;
}

.middle {
    border: 20px solid #000;
    background: green;
    width: 100px;
    height: 100px;
    margin-left: 120px;
}

.bottom {
    border: 10px solid #000;
    background: yellow;
    width: 100px;
    height: 100px;
    margin-left: 260px;
}