/* General Styles */
body {
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Nav Styles */
nav {
    background-color: #2A2438;
    top: 0;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
}

nav p{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    flex: 1;
    display: flex;
}

.nav-left {
    padding: 25px 15px;
}

nav p, nav a {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
}

nav a {
    margin-left: auto;
    color: #fff;
    padding: 25px 15px;
    text-align: right;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.1s;
}

nav a:hover {
    color: #fff;
    background: #1b1724;
}

/* Footer Styles */
footer {
    display: flex;
    background-color: #2A2438;
    padding: 25px 50px;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
}

footer a {
    padding: 0 5px;
    color: #d7cee9;
    text-decoration: none;
    transition: color 0.1s;
}

footer a:hover {
    color: #635d70;
}

.footer-subline {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-subline a {
    padding: 0;
}

/* Splash Section */
.splash {
    display: block;
    background-color: #310A5D;
    padding: 30px 50px;
    text-align: center;
}

.splash h1 {
    margin-top: 0;
    color: #fff;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.splash img {
    border-radius: 50%;
    border: 3px solid #fff;
}

.splash p {
    margin: 25px 0px;
    font-family: "Roboto Slab", serif;
    color: #fff;
}

.contact-info {
    font-size: 15px;
}

.tagline {
    font-weight: 500;
}

/* Horizontal Rules */
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 5px;
    border-color: #2A2438;
    border-style: solid;
}

/* Sections */
section {
    font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background: #352F44;
    padding: 30px 50px;
    border-top: 2px solid #282333;
}

/* Section Headings */
section h2 {
    font-family: "Roboto Slab", serif;
    font-size: 2em;
    color: #d7cee9;
    margin-top: 0;
}

/* Paragraph Styles */
.education {
    font-size: 1.1em;
}

/* link styles */
section a {
    color: #d7cee9;
    text-decoration: none;
    transition: color 0.1s;
}
section a:hover {
    color: #635d70;
}

/* List Styles */
ul {
    list-style-type: square;
}

ul.skills-list {
    padding: 0;
    margin-left: 0;
    list-style-type: none;
}

ul.skills-list li {
    display: inline-block;
    background: #310A5D;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid #fff;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

dl {
    display: grid;
    grid-template-columns: 0.9fr auto;
}
dl dt{}
dl dd{}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.card {
    background:#2e293b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 30px;
}

.card h3 {
    margin-top: 0;
}

/* Contact Page Styles */
.one-col {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

form {
    font-family: "Mona Sans", serif;
}

form label {
    font-size: 1em;
    display: inline-block;
    min-width: 100px;
    margin: 10px 0px;
}

form input, form textarea {
    font-family: "Mona Sans", serif;
    font-size: 1em;
    padding: 10px;
    background: #3f3950;
    border: 1px solid #2A2438;
    color: #fff;
    margin: 10px 0px;
    transition: background-color 0.3s;
}

form input:focus, form textarea:focus {
    background: #2A2438;
}

form button {
    font-family: "Mona Sans", serif;
    border: 2px solid #2A2438;
    background: #3f3950;
    color: #fff;
    padding: 10px 20px;   
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.1s;
}

form button:hover {
    background: #3e2975
}
